In [9]:
import pandas as pd
import qgrid
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
import requests_cache
import timeit
from tqdm.notebook import tqdm

In [5]:
requests_cache.install_cache('request_cache')

players = tqdm(players.get_players())
players[:5]

|          | 0/? [00:00<?, ?it/s]

0it [00:00, ?it/s]

In [15]:
from nba_api.stats.static import teams

In [21]:
all_teams = teams.get_teams()
all_teams[:2]

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946}]

In [24]:
bulls_id = teams.find_teams_by_nickname("Bulls")[0]['id']
bulls_id

1610612741

In [42]:
from nba_api.stats.endpoints import teamplayerdashboard
from nba_api.stats.library.parameters import SeasonAll

In [50]:
tpdash = teamplayerdashboard.TeamPlayerDashboard(bulls_id)
tpdash.team_overall.get_data_frame()

,GROUP_SET,TEAM_ID,TEAM_NAME,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Overall,1610612741,Chicago Bulls,2020-21,4,1,3,0.25,192.0,152,...,1,1,1,1,1,1,1,1,1,1